.red {
    color: red
}
td {
    border: 5px solid aliceblue;
    height: 5rem;
    width: 5rem;
    text-align: center;
}
table {
    border-collapse: collapse;
}
.ttt-container {
    width: 100%;
    display: flex;   
    justify-content: center;
}
.cell-symbol {
    font-size: 70px;
    margin: 0px;
    font-family: sans-serif;
}
.ttt-button {
    height: 5rem;
    width: 5rem;
    background-color: #222227;
    border: 0px;
}
.turn {
    font-size: 4rem;
    font-family: sans-serif;
}
.red {
    color: lightcoral;
}
.blue {
    color: lightskyblue;
}
.gray {
    color: lightgray;
}
.win {
    font-size: 9rem;
    margin: 10px;
    font-family: sans-serif;
}
.play-again-button {
    height: 5rem;
    width: 9rem;
    font-size: 1.7rem;
    background-color: #252227;
    border-color: #1a181b;
    color: aliceblue;
}
html {
    background-color: #222227;
}