<!DOCTYPE html>

<html>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="ttt-container">
            {% if turn %}
            <h1 class="turn blue">Blues turn :)</h1>
            {% else %}
            <h1 class="turn red">Reds turn :)</h1>
            {% endif %}
        </div>
        <div class="ttt-container">
            <form action="/" method="post">
                <table class="board">
                    <tbody>
                        <tr>
                            <td>
                                {% if cells[0][0] == "x" %}
                                <p class="cell-symbol red">{{cells[0][0]}}</p>
                                {% elif cells[0][0] == "o" %}
                                <p class="cell-symbol blue">{{cells[0][0]}}</p>
                                {% else %}
                                <button type="submit" class=ttt-button name="cellbutton-00"/>
                                {% endif %}
                            </td>
                            <td><button type="submit" class=ttt-button name="cellbutton-01"><p class="cell-symbol">{{cells[0][1]}}</p></button></td>
                            <td><button type="submit" class=ttt-button name="cellbutton-02"><p class="cell-symbol">{{cells[0][2]}}</p></button></td>
                        </tr>
                        <tr>
                            <td><button type="submit" class=ttt-button name="cellbutton-10"><p class="cell-symbol">{{cells[1][0]}}</p></button></td>
                            <td><button type="submit" class=ttt-button name="cellbutton-11"><p class="cell-symbol">{{cells[1][1]}}</p></button></td>
                            <td><button type="submit" class=ttt-button name="cellbutton-12"><p class="cell-symbol">{{cells[1][2]}}</p></button></td>
                        </tr>
                        <tr>
                            <td><button type="submit" class=ttt-button name="cellbutton-20"><p class="cell-symbol">{{cells[2][0]}}</p></button></td>
                            <td><button type="submit" class=ttt-button name="cellbutton-21"><p class="cell-symbol">{{cells[2][1]}}</p></button></td>
                            <td><button type="submit" class=ttt-button name="cellbutton-22"><p class="cell-symbol">{{cells[2][2]}}</p></button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>